* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* Header */


.sticky-top {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.text-dark {
    color: black;
}

.nav-item .nav-link {
    transition: all 0.4s ease;
}

.nav-item .active {
    color: gold;
}

.nav-item .nav-link:hover {
    color: gold;
}

/* Header end*/

/* hero banner */

.carousel-item img {
    object-fit: cover;
    opacity: 0.9;
    z-index: -1;
}

.carousel-control-next {
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
    background-color: #d7a985 !important;
    padding: 10px;
    opacity: 1 !important;
    transition: all 0.4s ease !important;
}

.carousel-control-prev {

    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
    background-color: #d7a985 !important;
    color: white;
    padding: 10px;
    z-index: 1;
    opacity: 1 !important;
    transition: all 0.4s ease !important;

}

.carousel-control-next:hover {
    background-color: white !important;
    color: #d7a985 !important;
}

.carousel-control-prev:hover {
    background-color: white !important;
    color: #d7a985 !important;
}

.carousel-control-next {

    top: 40% !important;
    right: 5% !important;
}

.carousel-control-prev {
    top: 40% !important;
    left: 5% !important;
}


.carousel-caption {
    top: 220px;

    h1 {
        color: white;
        text-transform: uppercase;
        font-size: 50px;
        font-family: "Caveat", cursive;
        z-index: 1;
        text-shadow: 0 0 20px black;
    }

    a {
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Alumni Sans SC", sans-serif;
        display: inline-block;
        border: 1px solid #d7a985;
        min-width: 120px;
        padding: 10px 30px;
        background-color: #d7a985;
        color: white;
        transition: all 0.4s ease;
    }

    .height {
        min-height: 50%;
    }
}

.carousel-caption a:hover {
    background-color: white;
    color: #d7a985;
}

@media(max-width:1024px) {
    .carousel-caption {
        top: 167px;

        h1 {
            font-size: 30px;
        }

    }
}

@media(max-width:768px) {
    .carousel-caption {
        top: 100px;

        h1 {
            font-size: 30px;
        }
    }
}

@media(max-width:320px) {
    .carousel-caption {
        top: 10px;

        h1 {
            font-size: 15px;
        }

        a {
            font-size: 10px;
        }
    }
}

/* About */

.about-image {
    transition: all 0.4s ease;
}

.about-image:hover {
    transform: scale(1.05);
    opacity: 0.4;
}

.about-text {
    h2 {
        font-size: 30px;
        color: #d7a985;
    }

    p {
        font-size: 15px;
        font-family: "Caveat", cursive;
        font-weight: 200;
    }

    a {
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Alumni Sans SC", sans-serif;
        display: inline-block;
        border: 1px solid #d7a985;
        min-width: 120px;
        padding: 10px 30px;
        background-color: #d7a985;
        color: white;
        transition: all 0.4s ease;
        border-radius: 5px;
    }
}

.about-text a:hover {
    background-color: white;
    color: #d7a985;
}

/* About end*/

/* Shop */

.blue {
    background-color: #f1f5f4;
}

.shop-content {
    h1 {
        text-transform: uppercase;
        font-size: 20px;
        color: #d7a985 !important;
    }

    p {
        color: #d7a985;
    }

    .content-a {
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Alumni Sans SC", sans-serif;
        display: inline-block;
        border: 1px solid#d7a985;
        min-width: 120px;
        padding: 10px 30px;
        background-color: #d7a985;
        color: white;
        transition: all 0.4s ease;
        margin-left: 100px;
    }
}

.shop-content:hover .img-opacity img {
    opacity: 0.4;
    background-color: rgb(1, 1, 1, 0.09);
}

.shop-content .content-a:hover {
    background-color: white;
    color: #d7a985;

}

.shop-icon .cart {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #1f1f1f4a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -230px;
    left: 120px;
    position: absolute;
    display: none;
    transition: all 0.7s ease;
}

.shop-content:hover .shop-icon .cart {
    display: flex;

}

@media (max-width:320px) {
    .shop-content .content-a {
        margin-left: 62px;
    }

    .shop-content img {
        margin-top: 40px;
    }
}


/* Offer */

.offer-text {
    h3 {
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 10px !important;
    }
}

.offer-icon {
    width: 100px;
    height: 100px;
    background-color: #d7a985;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -100px;
    font-size: 30px;
    left: 90px;
    transition: all 0.4s ease;
}

.offer-text:hover .offer-icon {
    transform: rotateY(180deg);
    background-color: white;
    color: #d7a985;
    border: 1px solid #d7a985;
}

@media(max-width:768px) {
    .offer-icon {
        display: none;
    }
}

/* Offer end*/

/* testi */

.testi-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* testi end*/

/* updates */

.update-content {
    top: 150px;
    left: 60px;

    h4 {
        font-size: 15px;
        color: white;
    }

    span {
        font-size: 10px;
        color: white;
    }
}



/* updates end */


/* contact us */

.icon {
    margin-left: 30px;
    font-weight: 200;
}

.icon-1 {
    margin-left: 15px;
    font-weight: 200;
}

.input {
    input {
        outline: none;
        border: 1px solid rgb(236, 192, 192);
        width: 550px;
        padding: 15px 20px;
    }
}

.text-area {
    width: 500px;
    height: 120px;
    outline: none;
    border: 1px solid rgb(236, 192, 192);
    padding: 15px 20px;
}

.a-anchor a {
    text-decoration: none;
    display: inline-block;
    min-width: 100px;
    background-color: #d7a985;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: all 0.4s ease;
}

.a-anchor a:hover {
    background-color: white;
    color: #d7a985;
    border: 1px solid green;
}

@media(max-width:1200px) {
    .input {
        input {
            width: 400px;
        }
    }
}

@media(max-width:999px) {
    .input {
        input {
            width: 200px;
        }
    }
}

@media(max-width:790px) {
    .grid-auto {
        display: flex;
        flex-wrap: wrap;
    }

    .input {
        input {
            width: 500px;
        }
    }

    .a-anchor {
        display: flex;
        flex-direction: column;
    }

    .a-anchor a {
        width: 150px;
    }
}

@media(max-width:580px) {
    .input {
        input {
            width: 200px;
        }
    }

    .text-area {
        width: 200px;
    }
}

/* contact us end*/

/* footer */

.footer-link a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d7a985;
    color: white;
    text-decoration: none;
    transition: all 0.4s ease;
    padding: 8px;
}

.footer-link a:hover {
    background-color: white;
    color: olive;
    border: 1px solid olive;
}

/* footer end*/

/* scrool top */

.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99999;
    background-color: #c5a47e;
    color: white;
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.scroll:hover {
    background-color: #a07d5a;

}

/* breadcrumb */

.banner {
    background-image: url('../images/slide1.jpg');
    height: 300px;
    object-fit: cover;
}

.home {
    text-decoration: none;
    color: white;
    transition: all 0.4s ease;
}

.home:hover {
    color: green;
}

.br {
    position: relative;
}

.br::before {
    content: "/";
    position: absolute;
    width: 100%;
    height: 1%;
    top: 1px;
}